// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple Mac mini (M4, 2024)
 *
 * target-type: J773g
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include "t8132.dtsi"
#include "t8132-jxxx.dtsi"

/ {
	compatible = "apple,j773g", "apple,t8132", "apple,arm-platform";
	model = "Apple Mac mini (M4, 2024)";
};

/*
 * Keep the power-domains used for the HDMI port on.
 */
&framebuffer0 {
	power-domains = <&ps_dispext0_cpu>, <&ps_dptx_phy>;
};

/*
 * Provide labels for the USB type C ports.
 */

&typec0 {
	label = "USB-C Back-middle";
};

&typec1 {
	label = "USB-C Back-left";
};

// The front ports are on dwc/atcphy2 via a hub

&nub_spmi_a0 {
	hpm3: usb-pd@8 {
		compatible = "apple,sn201202x";
		reg = <0x8 SPMI_USID>;
		interrupts = <63 IRQ_TYPE_EDGE_RISING>,
			<64 IRQ_TYPE_EDGE_RISING>,
			<69 IRQ_TYPE_EDGE_RISING>,
			<71 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq", "select", "sleep", "wake";

		typec3: connector {
			label = "USB-C Back-right";
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec3_connector_hs: endpoint {
						remote-endpoint = <&dwc3_3_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec3_connector_ss: endpoint {
						remote-endpoint = <&atcphy3_typec_lanes>;
					};
				};
			};
		};
	};
};

&atcphy3 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			atcphy3_typec_lanes: endpoint {
				remote-endpoint = <&typec3_connector_ss>;
			};
		};

		port@1 {
			reg = <1>;
			atcphy3_usb3: endpoint {
				remote-endpoint = <&dwc3_3_ss>;
			};
		};
	};
};

&dwc3_3 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			dwc3_3_hs: endpoint {
				remote-endpoint = <&typec3_connector_hs>;
			};
		};
		port@1 {
			reg = <1>;
			dwc3_3_ss: endpoint {
				remote-endpoint = <&atcphy3_usb3>;
			};
		};
	};
};
